.DS_Store
*.pyc
*.pyo
*.db
.python-version
__pycache__
.coverage
*.egg-info/
*.egg/
.cache/
.pytest_cache/
.vscode/
/dist/
/build/
docs/_build/
public/
whoosh_index/
node_modules/
.tox
.idea/
npm-debug.log
tests/_testdata/media/machina
tests/settings_local.py
